In [74]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import linear_model
import matplotlib.pyplot as plt
df=pd.read_csv('/Users/darshgupta/Desktop/Winter Sem/IOT Domain Analyst/LAB/Task 2/Dataset2.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [75]:
median=df.bedrooms.median()
df.bedrooms=df.bedrooms.fillna(median)
df.head(4)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000

In [76]:
from sklearn.model_selection import train_test_split
reg=linear_model.LinearRegression()
X=df.drop('price',axis=1)
Y=df.price
X_train, X_test, y_train, y_test = train_test_split (X, Y, test_size=0.2)
reg.fit(X_train,y_train)
y_test

3    595000
1    565000
Name: price, dtype: int64

In [77]:
reg.coef_

array([-2.77777778e+01,  5.27777778e+04, -1.19444444e+04])

In [78]:
reg.intercept_

702777.7777777796

In [79]:
print("Predicted value is:",reg.predict([[2500,4,30]]))

Predicted value is: [486111.11111111]

/Users/darshgupta/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [80]:
print("Predicted value is:",sum(reg.coef_*[2500,4,30])+reg.intercept_)
# Same value for flat calculated using the equation itself instead of using inbuilt function.

Predicted value is: 486111.1111111116

In [81]:
print("Accuracy:",reg.score(X_test,y_test))

Accuracy: -97.69427297668048